streamlit==1.46.0
torch==2.5.1
transformers==4.52.4
huggingface-hub==0.33.0
sentence-transformers==4.1.0
annoy==1.17.3
numpy==2.0.1
tokenizers==0.21.0
scipy==1.15.3
scikit-learn==1.6.1
tqdm==4.67.1
filelock==3.17.0
requests==2.32.3
regex==2024.11.6
pyyaml==6.0.2
urllib3==2.3.0
pillow==11.1.0
jinja2==3.1.6
tenacity==9.1.2
fsspec==2025.5.1
joblib==1.5.1

